.buttonsContainer {
  margin-top: 50px;
  text-align: center;
}

.buttonsContainer .ok {
  color: green;
}

.buttonsContainer .ko {
  color: red;
}

.buttonsContainer button {
  color: rgba(24, 75, 178, 1);
}
