.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.container {
  width: 100%;
  max-width: 500px;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container form button {
  margin-top: 20px;
}
