.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.container {
  width: 100%;
  max-width: 500px;
}

.container form {
  display: flex;
  flex-direction: column;
}

.customInput {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.customInput span {
  margin-bottom: 1rem;
  color: red;
}

.ok {
  margin-top: 3rem;
  color: green;
}

.error {
  margin-top: 3rem;
  color: red;
}

.containerButtons {
  display: flex;
  justify-content: space-between;
}
