.label :global .MuiStepLabel-labelContainer .MuiStepLabel-label {
  font-size: 18px;
}

.label :global .MuiStepLabel-iconContainer .Mui-active {
  color: #09142f;
  font-size: 30px;
}

.label :global .MuiStepLabel-iconContainer {
  width: 50px;
}

.label :global .MuiStepLabel-iconContainer .Mui-completed {
  color: green;
}

.content {
  padding-left: 50px;
}

.buttonsContainer {
  margin-top: 30px;
}

.buttonsContainer button:first-child {
  background-color: #09142f;
}

.buttonsContainer button:nth-child(2) {
  color: #09142f;
}

@media screen and (max-width: 768px) {
  .label :global .MuiStepLabel-labelContainer .MuiStepLabel-label {
    font-size: 16px;
  }

  .label :global .MuiStepLabel-labelContainer .MuiStepLabel-label.Mui-disabled {
    font-size: 14px;
  }

  .label :global .MuiStepLabel-iconContainer .Mui-active {
    width: 25px;
  }
  .label :global .MuiStepLabel-iconContainer {
    width: 25px;
  }

  .content {
    padding-left: 20px;
  }

  .buttonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
